<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
<!--     <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/css/input-elements.css"> -->
    <title>Webpack test page</title>
</head>
<body>
<!--<h1>click the box</h1>
<button id="secret-button">Show the Secret</button>
<p id="secret-paragraph">You can't see this all the time </p>-->
     <div id="map"><div id ="info"></div> </div>
        <div id="info-dummy"></div>
          <a id="menu-slider" ><div id="menu-slider-arrow"  ></div></a>

        <div id ="module-container" >
            <div id="information-box"></div>
        </div>
  <!--  <script src="main.js"></script>
 <script src="src/js/dom-loader.js"></script>
<script src="src/js/app.js"></script> -->
</body>
</html>