<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--     <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/css/input-elements.css"> -->
    <title>Webpack and openlayers test</title>
</head>

<body>
    <!--<h1>click the box</h1>
<button id="secret-button">Show the Secret</button>
<p id="secret-paragraph">You can't see this all the time </p>-->
    <div id="map">
        <div id="info"></div>
    </div>
    <div id="info-dummy"></div>
    <a id="menu-slider">
        <div id="menu-slider-arrow"></div>
    </a>

    <div id="module-container">
        <div class='box'>

            <label id='location-switch' class="switch">
                <input type="checkbox"  >
                <span class="slider round"></span>
            </label>
            <span>
                <p>wo bin ich?</p>
            </span>

        </div>

        <div id="detail-box" class='box'>
            <h3 class='box-header'>Daten</h3>

            <div id="information-box"></div>
        </div>

        <div class='box'>
            <h3 class='box-header'>Layern</h3>

            <div id="layers-box"></div>
        </div>
    </div>
    <!--  <script src="main.js"></script>
 <script src="src/js/dom-loader.js"></script>
<script src="src/js/app.js"></script> -->
</body>

</html>