/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 25, 2018, 8:10:47 PM
    Author     : Amir
*/
html, body {
    margin: 0;
    height: 100%;
    overflow:hidden;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#info{    
    position: absolute;
 
    z-index: 100;
    background-color: #d2d2d28a;
    border-radius: 4px;
    padding: 6px;

}
#module-container{
    margin-top: 0;
    height: 100%;
    overflow-y : hidden;
    overflow-x: hidden;
    position: absolute;
    z-index: 1000000;
    left: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #fff;
    margin: 0;
    background-color: #37474f;
    width:20%;
}
#menu-slider{
    z-index: 101;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 115px;
    background-color: #37474f;
    padding: 15px 5px 15px 15px;
}

a#menu-slider.slided{
    left:-1rem;

}
#menu-slider-arrow{
    color:white;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;

}
#menu-slider-arrow.off {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transition: all 0.5s;

}
.box{
    position: relative;
    margin: 2rem   1rem ;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    left: auto;
    right: auto;
     
 }
ul{
    list-style-type: none;
    padding: 0 0.1rem;
}
#information-box{
     padding-left: 15px;
    padding-bottom: 5px;
}
 
.box-header{
    padding-left: 15px;
    padding-bottom: 5px;
    background-color: #37474f2b;
}
#layers-box{
    padding-left: 15px;
    padding-bottom: 5px;
}
#detail-box{
    display: none;
}

.switch {
    margin: 5px 10px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
      border-radius: 25px;
  
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0px;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
      border-radius: 50%;
  
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }